* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-left: 10px;
}

li.active a {
  text-decoration: none;
  color: #333333;
  cursor: default;
}

a {
  text-decoration: underline;
  color: blue;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  height: inherit;
  overflow: auto;
}
